<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btpj.eventbusdemo">

    <application>
        <activity
            android:name=".EventBus2Activity"
            android:exported="true" />
        <activity
            android:name=".EventBusActivity"
            android:exported="true" />
    </application>

</manifest>