<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btpj.mvcmvpmvvm">

    <application>
        <activity android:name=".StructureActivity" />
        <activity android:name=".mvc.MvcActivity" />
        <activity android:name=".mvp.view.MvpActivity" />
        <activity android:name=".mvvm.MvvmActivity" />
    </application>

</manifest>