<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.btpj.activity">

    <application>
        <activity
            android:name=".AboutActivity"
            android:exported="true" />
        <activity
            android:name=".launch.BActivity"
            android:exported="true" />
        <activity
            android:name=".launch.AActivity"
            android:exported="true" />
        <activity
            android:name=".orientation.OrientationActivity"
            android:configChanges="orientation|screenSize" />
    </application>

</manifest>